
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #000000;
}

/*container to hold title of quiz */

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  padding-top: 20px;
  font-family: 'Bungee Shade';
}

/* intro section */
p {
  font-size: 25px;
  text-align: center;
}

p.introText {
  padding-top: 120px;
  font-size: 25px;
  text-align: center;
}

.playButton  {
  background:#008000;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  float: right;
  margin: 10px;

}

.startButton {
  background:#008000;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  margin: 10px;

}

#playButtonControl {
  display: flex; 
  justify-content: center; 
}


/*all components of the quiz*/
.quizContainer{
  height: 445px;
  width: 650px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  background: #ffffff;
  padding: 20px;
  border: 1px solid #808080;
  box-shadow: 0 0 1px 1px;
}


.question {
  padding: 10px;
  font-size: 22px;
  border-radius: 20px;
  margin: 10px 0 10px;
  color:#000000;
}

.option {
width: 300px;
display: inline-block;
padding: 10px 0 10px 15px;
vertical-align: middle;
margin: 5px 0 5px 5px;
color: #000000;
border-radius: 20px;
}

.option:hover {
  background: #FFFF00;
  color:   #000000;
}

/* quiz controls */
.next-button {
  background:#808080;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  float: right;
  margin: 10px;
}

.next-button:hover {
  background:#008000;
  color: #ffffff;
}

.result{
  height: 100px;
  text-align: center;
  font-size: 75px;
}

/* show how many questions remain */

#questionCount {
  display: flex; 
  justify-content: left; 
  padding-bottom: -10px;
}

#questionCount p {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}


.option input:checked .option{
  color:  #000000;
}

#controls {
  display: flex; 
  justify-content: center; 
}


#nextButtonControl {
  display: flex; 
  justify-content: center;
  padding-top: 5px; 
}

/*responsive design for larger screens */
@media all and (max-width: 872px) {

  .titleText h1 {
    font-size: 25px;
    text-align: center;
    width: 400px;
    margin-left: 200px;
  }

/*responsive design for medium screens */
@media all and (max-width: 871px) and (min-width: 321px) {

  body {
    justify-content: center;
    align-items: center;
  }

  #titleText {
    top:50%;
    left:50%
  }

  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  

 .quizContainer {
    padding-top: 10px;
    width: 60%;
    height: 470px;
 }

 p.introText {
    padding-top: 30px;
 }

.question {
    font-size: 15px;
}

.option {
    width: 250px;
}

.next-button {
    padding-bottom: 5px;
  }
}

/*responsive design for small screens */
@media all and (max-width: 320px) {

  body {
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  header {
 visibility: hidden;
 display: none;
  }

  .quizContainer {
  width: 300px;
  height: 500px;
  justify-content: left;
  align-items: center;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  p.introText {
    padding-top: 5px;
  }

  .question {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 5px 0 5px;
    color:#000000;
  }
  
  .option {
    width: 200px;
    display: inline-block;
    padding: 5px 0 5px 10px;
    vertical-align: left;
    margin: 5px 0 5px 5px;
    color: #000000;
    border-radius: 20px;
    }

    #questionCount p {
      font-size: 15px;
      font-family: 'Lato', sans-serif;
      font-style: italic;
    }

}
